
.chart-title-input{
    display: flex;
    justify-content: center;
    align-items: center;
}


header{
  display: flex;
  justify-content: center;
}




#dropdown a{
    text-decoration: none;
    display: block;
}
#graph {
  display: none;
  grid-template-columns: 1fr 9fr;
  grid-template-rows: auto 1fr 1fr;
}

#x-axis{
  grid-column-start: span 2;
  display: none;

}
#y-axis{
  flex-direction: column;
  display: flex;
}

#x-axis, #y-axis{
  justify-content: space-around;
}

#graph h2{
  grid-column: span 2;
  display: flex;
  justify-content: center;

}

#final-graph{
  display: flex;
  margin: 16px 0;
  flex-direction: row;
}
#final-graph div{
  margin-top: auto;
  width: 100%;
}
