
.chart-title-input{
    display: flex;
    justify-content: center;
    align-items: center;
}

#x-axis{



  grid-column: 1;
  grid-row: 0;
}

p{
  display: inline;
}


#dropdown a{
    text-decoration: none;
    display: block;
}

#graph{
    display: grid;
    height: 100%;
    grid-template-columns: auto;
}

#y-axis{
  display: grid;

}
