@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

*{
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  font-family: 'VT323', monospace;
  color: wheat;
}


#chart-name-div{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

}

header{
  display: flex;
  justify-content: center;
  width: 100%;
}

header h1{

  font-size: 10em;
  margin: 0;

}

nav{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}


#dropdown a{
    text-decoration: none;
    display: block;
}
#graph {
  display: none;
  grid-template-columns: 1fr 9fr;
  grid-template-rows: auto 1fr 1fr;
}

#x-axis{
  grid-column-start: span 2;
  display: none;

}
#y-axis{
  flex-direction: column;
  display: flex;
}

#x-axis, #y-axis{
  justify-content: space-around;
}

#graph h2{
  grid-column: span 2;
  display: flex;
  justify-content: center;

}

#final-graph{
  display: flex;
  margin: 16px 0;
  flex-direction: row;
}
#final-graph div{
  margin-top: auto;
  width: 100%;
}

body{
  background-image: url('https://images.alphacoders.com/754/754565.png');
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment: fixed;
}
